@import "tailwindcss";


@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-green-theme: #25493f;
  --color-blue-theme: #142d4b;
  --color-green-gray: #395d52;
  --color-yellow-theme: #e7d706;
  --font-display : "Montserrat";
}

html,
body {
  @apply bg-white /*dark:bg-gray-950*/;

  @media (prefers-color-scheme: green) {
    color-scheme: green;
  }

}

header {

  @apply bg-green-theme;

}

@utility no-scrollbar {
  @apply [scrollbar-:none] [&::-webkit-scrollbar]:hidden;
}

react-calendar {

}
